/*General Rules*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*Header*/

.header {
  width: 100%;
  height: 100px;
  background: #333333;
}

h1 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

/*Container - body*/

h2 {
  width: 266px;
  height: 157px;
  top: 18px;
  left: 17px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* width: 70%; */
  max-width: 1000px;
  height: 1020px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 50px;
}

/*Container - item*/

.item {
  position: relative;
  width: 300px;
  height: 300px;
  background: #ffffff;
  border: 10px solid;
}

.containerTitle {
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

.containerLocation {
  position: absolute;
  left: 5.67%;
  right: 12%;
  top: 85%;
  bottom: 6.33%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

/*Gestion des couleurs container*/

.color1 {
  border: solid #e30413 10px;
}
.color2 {
  border: solid #3ea535 10px;
}
.color3 {
  border: solid #ffee00 10px;
}
.color4 {
  border: solid #039fe3 10px;
}
.color5 {
  border: solid #f8c5af 10px;
}

.footer {
  width: 100%;
  height: 63px;
  background: #dddddd;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 21px;
  display: flex;
  text-align: center;
  color: #000000;
  align-items: center;
  justify-content: center;
}

/*Class pour mettre en gras*/

.bold {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

/*Gestion du responsive*/

@media all and (max-width: 1200px) {
  .container {
    justify-content: space-evenly;
    height: 100%;
  }
  .item {
    margin-bottom: 25px;
  }
}

@media all and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
  }
  .item {
    margin-bottom: 20px;
  }
  html {
    min-width: 380px;
  }
}
